In [1]:
import pandas as pd
df = pd.read_csv('data_collection.csv', encoding='utf-8')

C:\Users\kimmi\AppData\Local\Temp\ipykernel_19880\3938744827.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data_collection.csv', encoding='utf-8')

In [2]:
df.head()

,날짜,호선,역번호,역명,구분,06,0607,0708,0809,0910,...,1415,1516,1617,1718,1819,1920,2021,2122,2223,23
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,2065,2972,3194,3342,3002,2857,2311,2523,1830,1012
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2308,2286,2354,2261,1922,1696,1620,1181,768,503
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,763,873,1019,1234,1383,1271,1061,991,572,219
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,1021,885,783,849,602,435,293,273,174,175
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1190,1636,1748,1890,1879,1827,1955,1800,1259,412

In [3]:
df.columns

Index(['날짜', '호선', '역번호', '역명', '구분', '06', '0607', '0708', '0809', '0910',
       '1011', '1112', '1213', '1314', '1415', '1516', '1617', '1718', '1819',
       '1920', '2021', '2122', '2223', '23'],
      dtype='object')

In [4]:
df

,날짜,호선,역번호,역명,구분,06,0607,0708,0809,0910,...,1415,1516,1617,1718,1819,1920,2021,2122,2223,23
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,2065,2972,3194,3342,3002,2857,2311,2523,1830,1012
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2308,2286,2354,2261,1922,1696,1620,1181,768,503
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,763,873,1019,1234,1383,1271,1061,991,572,219
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,1021,885,783,849,602,435,293,273,174,175
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1190,1636,1748,1890,1879,1827,1955,1800,1259,412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771105,2023-10-31,8호선,2826,수진,하차,23,108,220,543,235,...,221,288,404,419,647,450,318,249,219,199
771106,2023-10-31,8호선,2827,모란,승차,113,122,394,498,273,...,267,330,520,400,467,243,180,145,122,107
771107,2023-10-31,8호선,2827,모란,하차,22,136,214,465,227,...,197,248,243,332,392,233,136,120,104,132
771108,2023-10-31,8호선,2828,남위례,승차,64,292,1056,1205,600,...,280,379,459,642,790,291,248,256,197,113
771109,2023-10-31,8호선,2828,남위례,하차,43,118,334,1210,450,...,245,326,457,642,1082,826,408,389,356,278

In [10]:
df.columns = ['날짜', '호선', '역번호', '역명', '구분', 'a', 'b', 'c', 
              'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm',
              'n', 'o', 'p', 'q', 'r', 's']
df

,날짜,호선,역번호,역명,구분,a,b,c,d,e,...,j,k,l,m,n,o,p,q,r,s
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,2065,2972,3194,3342,3002,2857,2311,2523,1830,1012
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2308,2286,2354,2261,1922,1696,1620,1181,768,503
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,763,873,1019,1234,1383,1271,1061,991,572,219
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,1021,885,783,849,602,435,293,273,174,175
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1190,1636,1748,1890,1879,1827,1955,1800,1259,412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771105,2023-10-31,8호선,2826,수진,하차,23,108,220,543,235,...,221,288,404,419,647,450,318,249,219,199
771106,2023-10-31,8호선,2827,모란,승차,113,122,394,498,273,...,267,330,520,400,467,243,180,145,122,107
771107,2023-10-31,8호선,2827,모란,하차,22,136,214,465,227,...,197,248,243,332,392,233,136,120,104,132
771108,2023-10-31,8호선,2828,남위례,승차,64,292,1056,1205,600,...,280,379,459,642,790,291,248,256,197,113
771109,2023-10-31,8호선,2828,남위례,하차,43,118,334,1210,450,...,245,326,457,642,1082,826,408,389,356,278

In [11]:
df2 = df.copy()
df2['a'] = df2.a - df2.a.shift(-1)
df2['b'] = df2.b - df2.b.shift(-1)
df2['c'] = df2.c - df2.c.shift(-1)
df2['d'] = df2.d - df2.d.shift(-1)
df2['e'] = df2.e - df2.e.shift(-1)
df2['f'] = df2.f - df2.f.shift(-1)
df2['g'] = df2.g - df2.g.shift(-1)
df2['h'] = df2.h - df2.h.shift(-1)
df2['i'] = df2.i - df2.i.shift(-1)
df2['j'] = df2.j - df2.j.shift(-1)
df2['k'] = df2.k - df2.k.shift(-1)
df2['l'] = df2.l - df2.l.shift(-1)
df2['m'] = df2.m - df2.m.shift(-1)
df2['n'] = df2.n - df2.n.shift(-1)
df2['o'] = df2.o - df2.o.shift(-1)
df2['p'] = df2.p - df2.p.shift(-1)
df2['q'] = df2.q - df2.q.shift(-1)
df2['r'] = df2.r - df2.r.shift(-1)
df2['s'] = df2.s - df2.s.shift(-1)
df2

,날짜,호선,역번호,역명,구분,a,b,c,d,e,...,j,k,l,m,n,o,p,q,r,s
0,2020-01-01,1호선,150,서울역,승차,121.0,-672.0,-515.0,-269.0,-771.0,...,-243.0,686.0,840.0,1081.0,1080.0,1161.0,691.0,1342.0,1062.0,509.0
1,2020-01-01,1호선,150,서울역,하차,130.0,834.0,705.0,837.0,1376.0,...,1545.0,1413.0,1335.0,1027.0,539.0,425.0,559.0,190.0,196.0,284.0
2,2020-01-01,1호선,151,시청,승차,24.0,-105.0,-211.0,-364.0,-293.0,...,-258.0,-12.0,236.0,385.0,781.0,836.0,768.0,718.0,398.0,44.0
3,2020-01-01,1호선,151,시청,하차,-717.0,-143.0,136.0,334.0,301.0,...,-169.0,-751.0,-965.0,-1041.0,-1277.0,-1392.0,-1662.0,-1527.0,-1085.0,-237.0
4,2020-01-01,1호선,152,종각,승차,727.0,175.0,-97.0,-275.0,-545.0,...,-249.0,26.0,298.0,538.0,747.0,1102.0,1410.0,1456.0,1034.0,241.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771105,2023-10-31,8호선,2826,수진,하차,-90.0,-14.0,-174.0,45.0,-38.0,...,-46.0,-42.0,-116.0,19.0,180.0,207.0,138.0,104.0,97.0,92.0
771106,2023-10-31,8호선,2827,모란,승차,91.0,-14.0,180.0,33.0,46.0,...,70.0,82.0,277.0,68.0,75.0,10.0,44.0,25.0,18.0,-25.0
771107,2023-10-31,8호선,2827,모란,하차,-42.0,-156.0,-842.0,-740.0,-373.0,...,-83.0,-131.0,-216.0,-310.0,-398.0,-58.0,-112.0,-136.0,-93.0,19.0
771108,2023-10-31,8호선,2828,남위례,승차,21.0,174.0,722.0,-5.0,150.0,...,35.0,53.0,2.0,0.0,-292.0,-535.0,-160.0,-133.0,-159.0,-165.0
771109,2023-10-31,8호선,2828,남위례,하차,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df2 = df2[::2]
df2

,날짜,호선,역번호,역명,구분,a,b,c,d,e,...,j,k,l,m,n,o,p,q,r,s
0,2020-01-01,1호선,150,서울역,승차,121.0,-672.0,-515.0,-269.0,-771.0,...,-243.0,686.0,840.0,1081.0,1080.0,1161.0,691.0,1342.0,1062.0,509.0
4,2020-01-01,1호선,152,종각,승차,727.0,175.0,-97.0,-275.0,-545.0,...,-249.0,26.0,298.0,538.0,747.0,1102.0,1410.0,1456.0,1034.0,241.0
8,2020-01-01,1호선,154,종로5가,승차,38.0,-74.0,-103.0,-97.0,-175.0,...,114.0,119.0,374.0,251.0,371.0,487.0,559.0,427.0,225.0,-3.0
12,2020-01-01,1호선,156,신설동,승차,119.0,16.0,25.0,69.0,148.0,...,26.0,115.0,43.0,65.0,-76.0,-120.0,-180.0,-206.0,-279.0,-277.0
16,2020-01-01,1호선,158,청량리(서울시립대입구),승차,103.0,-11.0,27.0,145.0,50.0,...,-376.0,69.0,379.0,293.0,160.0,185.0,68.0,-70.0,-190.0,-290.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771092,2023-10-31,8호선,2820,장지,승차,77.0,333.0,1186.0,752.0,28.0,...,104.0,91.0,61.0,336.0,-136.0,-529.0,18.0,-49.0,-327.0,-266.0
771096,2023-10-31,8호선,2822,산성,승차,165.0,289.0,936.0,806.0,371.0,...,-50.0,-12.0,-119.0,-201.0,-731.0,-593.0,-381.0,-296.0,-301.0,-228.0
771100,2023-10-31,8호선,2824,단대오거리,승차,371.0,589.0,1765.0,1569.0,571.0,...,-51.0,-107.0,-192.0,-308.0,-971.0,-1220.0,-531.0,-504.0,-600.0,-415.0
771104,2023-10-31,8호선,2826,수진,승차,152.0,172.0,506.0,397.0,219.0,...,-23.0,-5.0,54.0,-69.0,-346.0,-270.0,-185.0,-142.0,-111.0,-153.0
771108,2023-10-31,8호선,2828,남위례,승차,21.0,174.0,722.0,-5.0,150.0,...,35.0,53.0,2.0,0.0,-292.0,-535.0,-160.0,-133.0,-159.0,-165.0

In [16]:
df2 = df2.drop('구분', axis=1)
df2

,날짜,호선,역번호,역명,a,b,c,d,e,f,...,j,k,l,m,n,o,p,q,r,s
0,2020-01-01,1호선,150,서울역,121.0,-672.0,-515.0,-269.0,-771.0,-237.0,...,-243.0,686.0,840.0,1081.0,1080.0,1161.0,691.0,1342.0,1062.0,509.0
4,2020-01-01,1호선,152,종각,727.0,175.0,-97.0,-275.0,-545.0,-647.0,...,-249.0,26.0,298.0,538.0,747.0,1102.0,1410.0,1456.0,1034.0,241.0
8,2020-01-01,1호선,154,종로5가,38.0,-74.0,-103.0,-97.0,-175.0,-227.0,...,114.0,119.0,374.0,251.0,371.0,487.0,559.0,427.0,225.0,-3.0
12,2020-01-01,1호선,156,신설동,119.0,16.0,25.0,69.0,148.0,229.0,...,26.0,115.0,43.0,65.0,-76.0,-120.0,-180.0,-206.0,-279.0,-277.0
16,2020-01-01,1호선,158,청량리(서울시립대입구),103.0,-11.0,27.0,145.0,50.0,93.0,...,-376.0,69.0,379.0,293.0,160.0,185.0,68.0,-70.0,-190.0,-290.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771092,2023-10-31,8호선,2820,장지,77.0,333.0,1186.0,752.0,28.0,88.0,...,104.0,91.0,61.0,336.0,-136.0,-529.0,18.0,-49.0,-327.0,-266.0
771096,2023-10-31,8호선,2822,산성,165.0,289.0,936.0,806.0,371.0,144.0,...,-50.0,-12.0,-119.0,-201.0,-731.0,-593.0,-381.0,-296.0,-301.0,-228.0
771100,2023-10-31,8호선,2824,단대오거리,371.0,589.0,1765.0,1569.0,571.0,193.0,...,-51.0,-107.0,-192.0,-308.0,-971.0,-1220.0,-531.0,-504.0,-600.0,-415.0
771104,2023-10-31,8호선,2826,수진,152.0,172.0,506.0,397.0,219.0,68.0,...,-23.0,-5.0,54.0,-69.0,-346.0,-270.0,-185.0,-142.0,-111.0,-153.0
771108,2023-10-31,8호선,2828,남위례,21.0,174.0,722.0,-5.0,150.0,56.0,...,35.0,53.0,2.0,0.0,-292.0,-535.0,-160.0,-133.0,-159.0,-165.0

In [22]:
df3 = df2.melt(id_vars=df2.columns.tolist()[0:4], value_name='인원').drop(['variable'], axis=1)
df3 = df3.sort_values(['날짜', '호선', '역번호', '역명'], ascending=[True, True, True, False])
df3

                 날짜   호선   역번호   역명     인원
0        2020-01-01  1호선   150  서울역  121.0
192778   2020-01-01  1호선   150  서울역 -672.0
385556   2020-01-01  1호선   150  서울역 -515.0
578334   2020-01-01  1호선   150  서울역 -269.0
771112   2020-01-01  1호선   150  서울역 -771.0
...             ...  ...   ...  ...    ...
2891669  2023-10-31  8호선  2828  남위례 -535.0
3084447  2023-10-31  8호선  2828  남위례 -160.0
3277225  2023-10-31  8호선  2828  남위례 -133.0
3470003  2023-10-31  8호선  2828  남위례 -159.0
3662781  2023-10-31  8호선  2828  남위례 -165.0

[3662782 rows x 5 columns]

In [23]:
df3.to_csv("final_data.csv")